@{
    ViewBag.Title = "O stronie";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="col-md-12">
    <h4>
        <p>
            Nasza strona poświęcona jest aplikacji na smartfony z systemem Android,
            która ma za zadanie umożliwić bezpieczną komunikację przez internet.
        </p>
    </h4>

</div>

<div class="col-md-12">
    <h4>
        <p>
            Funkcją podstawową aplikacji jest możliwość przesyłania wiadomości o treści zaszyfrowanej 
            „end to end”, gdzie dostęp do właściwej treści ma tylko urządzenie wysyłające i odbierające. 
            Ponadto program zapewnia synchronizację wiadomości, obsługę autoryzacji i 
            autentykacji użytkowników oraz zarządzanie wiadomościami, konwersacjami i kontaktami
        </p>
    </h4>

</div>
